/* Structural essentials */
[data-cx-dropdown] {
    position: relative;
    display: inline-block;
}

/* Hidden by default */
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: var(--bg-base);
    border: 1px solid var(--separator);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    width: max-content;
    padding-bottom: var(--s-2);
    /* Add your library's specific padding/borders here */
}

/* The state class triggered by TS */
[data-cx-dropdown].show > .dropdown-menu {
    display: block;

    li {
        list-style: none;

        a {
            display: block;
            padding-top: var(--s-2);

            &:hover {
                background-color: var(--brand);
                color: var(--on-brand);
            }
        }
    }

    .dropdown-header {
        padding: var(--s-2) var(--s-4);
        font-weight: bold;
        font-variant: all-petite-caps;
    }

    .dropdown-item {
        padding: var(--s-2) var(--s-4);
        cursor: pointer;

        &.active {
            font-weight: bold;
            color: var(--brand-800);

            &:hover {
                color: var(--on-brand);
            }
        }
    }

    .dropdown-divider {
        border-top: 1px solid var(--separator);
        margin-bottom: 0;
    }
}

/* Alignment utilities */
.dropdown-menu-end {
    right: 0;
    left: auto;
}
