@layer reset, tokens, primitives, components, utilities, typography;

@import "./reset.css" layer(reset);
@import "./tokens.css" layer(tokens);
@import "./primitives.css" layer(primitives);
@import "./typography.css" layer(typography);
@import "./utilities.css" layer(utilities);

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height, 4rem);
}

body {
    background: var(--bg-base);
    color: var(--on-bg-base);
}

.surface {
    background: var(--bg-surface);
    color: var(--on-bg-surface);
}

.brand {
    background: var(--brand);
    color: var(--on-brand);
}

.button {
    padding: var(--s-1);
    border-radius: var(--s-1);
    border:1px solid var(--separator)
}
