@layer reset {
    *, *::before, *::after {
        box-sizing: border-box;
        border-color: var(--separator);
    }

    * {
        margin: 0;
        padding: 0;
        font: inherit;
    }

    html {
        color-scheme: light dark;
    }

    body {
        min-height: 100vh;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        font-family: system-ui, sans-serif;
    }

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

    hr {
        border: 0;
        border-top: 1px solid var(--separator);
        margin: var(--s-3) 0;
    }
}
