@layer utilities {
    .v-hidden { clip: rect(0 0 0 0); clip-path: inset(50%); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px; }

    .s-primary {
        background-color: var(--bg-base);
        color: var(--on-bg-base);
        --text-muted: color-mix(in srgb, var(--on-bg-base), transparent 40%);
    }

    /* Surface Secondary (Cards, Sidebars, Modals) */
    .s-secondary {
        background-color: var(--bg-surface);
        color: var(--on-bg-surface);
        --text-muted: color-mix(in srgb, var(--on-bg-surface), transparent 40%);
    }

    /* Surface Accent (The Brand Color) */
    .s-accent {
        background-color: var(--brand);
        color: var(--on-brand);
        /* In accent areas, muted text is just lower opacity white/black */
        --text-muted: color-mix(in srgb, var(--on-brand), transparent 30%);
    }
}
